@import "../../../scss/myCustomTheme";

$dominant: $primary;
$undominant: white;
$word-colors:white;

.container{
	text-align: center;
}

.article-container{
	color: $undominant;
	background: $dominant;
	width: 100%;  
	height: 410px;
	text-align: center;

}

h1{
	font-size: 34px;
	margin-bottom: 15px;
}


p{
	color: $word-colors;
	font-size: 16px;
}

.testo-img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: $undominant;
	margin: 15px auto;
	background-repeat:  no-repeat; 
	background-size: contain; 
	background-position: center ;
}

.carousel-items{
	max-width: 744px;
	margin: 0 auto;
}

#testominalsCarousel{
	max-width: 930px;
	margin: 0 auto;
}

.navigation-arrow{
	color: $word-colors;
	font-size: 26px;
	position: absolute;
	height: 100%;
	z-index: 1;
}

.right{
	right: 0;
}
.left{
	left: 0;
}

span.fa{
	position: absolute;
	top: 50%
}