<div class="article-container" >
	<div class="container" style=" padding-top: 40px;">
		<h1>Testominals</h1>
		<div id="testominalsCarousel" class="carousel slide " data-ride="carousel">

			
			 <!-- Left and right controls -->
		    <a class="left navigation-arrow" href="#testominalsCarousel" data-slide="prev">
		      <span class="fa fa-chevron-left"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right navigation-arrow" href="#testominalsCarousel" data-slide="next">
		      <span class="fa fa-chevron-right"></span>
		      <span class="sr-only">Next</span>
		    </a>
		    
		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		      <div class="item active carousel-items" >
		      	<div class="testo-img" style="background-image: url('assets/img/pharma1.png')"></div>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero porro sit non quas deserunt vel voluptatibus impedit, ad. Voluptas iusto vel eius optio quibusdam sit. Odio sit, qui quae commodi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero porro sit non quas deserunt vel voluptatibus impedit, ad. Voluptas iusto vel eius optio quibusdam sit. Odio sit, qui quae commodi.</p>
		      </div>
		      	
			  <div class="item carousel-items" >
		      	<div class="testo-img" style="background-image: url('assets/img/pharma1.png')"></div>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero porro sit non quas deserunt vel voluptatibus impedit, ad. Voluptas iusto vel eius optio quibusdam sit. Odio sit, qui quae commodi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero porro sit non quas deserunt vel voluptatibus impedit, ad. Voluptas iusto vel eius optio quibusdam sit. Odio sit, qui quae commodi.</p>
		      </div>

		      <div class="item  carousel-items" >
		      	<div class="testo-img" style="background-image: url('assets/img/pharma1.png')"></div>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero porro sit non quas deserunt vel voluptatibus impedit, ad. Voluptas iusto vel eius optio quibusdam sit. Odio sit, qui quae commodi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero porro sit non quas deserunt vel voluptatibus impedit, ad. Voluptas iusto vel eius optio quibusdam sit. Odio sit, qui quae commodi.</p>
		      </div>
		    </div>
			
		</div>
	</div>
</div>