@import '../../scss/myCustomTheme';

.container-fluid{
	float: left; 

 padding-bottom: 30px;
}

.navbar-header{
	margin-left: 180px;
}

.navbar{
	height:102px;
	width: 100%;
	background: $primary;
	 
}

.navbar-nav{
	margin-right: 180px;
	margin-top: 30px;
}
