<div class="article-container" >
	<div class="container" style=" padding-top: 40px;">
		<div class="row">
			<div class="col-md-6 #c9ebd8">
				<h1>Contact us</h1>
				<form class="contact-us-form">
					<div class="signin-fields">
					    <input type="text" class="form-control" placeholder="NAME" />
					    <img src="assets/img/username_profile_icon.svg" class="right-addon">
					</div>

					<div class="signin-fields">
					    <input type="text" class="form-control" placeholder="E-MAIL" />
					    <img src="assets/img/mail_icon.svg" class="right-addon">
					</div>

					<div class="signin-fields">
					    <textarea class="form-control" rows="6" cols="10" placeholder="MESSAGE"></textarea>
					    <img src="assets/img/mail_icon.svg" class="right-addon">
					</div>
					<button type="submit" class="btn btn-success form-control">Send</button>
				</form>
			</div>
		</div>
		
	</div>
</div>