@import "../../../scss/myCustomTheme";

$dominant: #205169;
$undominant: $primary;
$word-colors:white;

.container{
	text-align: center;
}

.article-container{
	color: $undominant;
	background: $dominant;
	width: 100%;  
	height: 544px;
	text-align: center;

}

h1{
	font-size: 34px;
	margin-bottom: 15px;
	float: left;
}


.signin-fields{
	width:100%;
	input{
	 height:46px;
	 font-size:16px;
	 text-color:#d5d5d5;
	 padding-left:15px;
	}
	textarea{
		font-size:16px;
	 	text-color:#d5d5d5;
	 	padding-left:15px;	
	 	resize:none;		
	}
	.right-addon { 
			position: relative;
			float:right;
			bottom: 35px;
			right:15px;}
}
.col-md-3{
	padding: 0 15px;
}

button.form-control{
	font-size: 16px;
	max-width:455px;
}

.contact-us-form{
	width: 70%;
	margin: 1px auto;
}