<div class="article-container" >
	<div class="container" style=" padding-top: 40px;">
		<div class="row">
			<div class="col-md-6 custom-article">
				
				<h1>How to use Roshetta? (Individual)</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio facilis assumenda reprehenderit corporis delectus magni molestias nulla nam</p>
				<h2>Features</h2>
				<ul class="feature-list"> 
					<li><img src="assets/img/livewhite.svg" ><p>Live chat</p></li>
					<li><img src="assets/img/My prescs iconwhite.svg"><p>XXXX</p></li>
					<li><img src="assets/img/pinwhite.svg"><p>XXXX</p></li>
					<li><img src="assets/img/pinwhite.svg"><p>XXXX</p></li>
					<li><img src="assets/img/UPLOAD_PREC_ICON_WHITE.svg"><p>User pin Location</p></li>
					<li><img src="assets/img/pinwhite.svg"><p>XXXX</p></li>
					<li><img src="assets/img/pinwhite.svg"><p>XXXX</p></li>
					<li><img src="assets/img/pinwhite.svg"><p>XXXX</p></li>
				</ul>
				<button class="btn">Getting started</button>

			</div>

			<div class="col-md-6" >
				
				<app-side-slider></app-side-slider>

			</div>

		</div>			
	</div>
</div>