
<div class="navbar navbar-expand-lg navbar-light ">
	<div class="container-fluid" >
    	<div class="navbar-header" >
      		<a routerLink="/" class="navbar-brand"><img src="assets/img/rosheta_logo.svg"></a>
    	</div>

    	<div class="collapse navbar-collapse">
    	</div>

		<ul class=" nav navbar-nav  navbar-right" >
			<li class="nav-item font-sized"><a href="" class="whiteColor" translate="HOME"></a></li>
			<li class="nav-item font-sized"><a href="" class="whiteColor" translate="FAQ"></a></li>
			<li class="nav-item font-sized"><a href="" class="whiteColor" translate="CONTACT"></a></li>
			<li class="nav-item font-sized"><a href="" class="whiteColor nav-use-app" >Use app</a></li>
			<li class="nav-item font-sized"><a href="" class="nav-pharmacies"><span class="fa fa-plus"></span> Add Your Pharmacies</a></li>
			<li (click)="switchLanguage()" class="header-lang-wrap nav-item font-sized"><a class="header-lang header-btn lang-change">{{langToBeSelected}}</a></li>
		</ul>
    </div>
</div>


