@import '../../scss/myCustomTheme';

$headerMarginLeft:180px;

.container-fluid{
	float: left; 
	padding-bottom: 30px;
}

.navbar-header{
	margin-left: $headerMarginLeft;
}

.navbar{
	height:102px;
	width: 100%;
	background: $primary;
	margin-bottom: 0px; /*overwriting the bootstrap value */
	border-radius: 0px;
}

.navbar-nav{
	margin-right: 180px;
	margin-top: 30px;
}

.nav-use-app{
	background: #f5ae34;
	padding: 10 15px;
	border-radius: 5px;
	margin-left: 10px; 
}

.nav-pharmacies{
	background:white; 
	padding: 10 15px;
	border-radius: 5px;
	margin-left: 10px; 
}