@import "../../../scss/myCustomTheme";

$dominant: white;
$undominant: $primary;
$word-colors:$default;

.article-container{
	color: $undominant;
	background: $dominant;
	width: 100%;  
	height: 580px;
	.btn{
		background: $undominant;
		font-size: 16px;
		color: $dominant;
		padding: 10px 15px;
		border-radius: 5px;

	}
	.btn:hover{
			background: $success;
			color: white;
		}
}

h1{
	font-size: 34px;
	margin-bottom: 15px;
}

h2{
	height: 39px;
	font-size: 26px;
	margin-bottom: 15px;
}

p{
	color: $word-colors;
	font-size: 16px;
}

.feature-list{
	list-style: none;
	columns: 2;
	-webkit-columns: 2;
 	-moz-columns: 2;
 	padding-left: 0px;
 	margin-bottom: 25px;
 	li{
 		p{
 			padding-bottom: 0px;
 			margin-bottom: 15px;
 		}
 	}

  img{
  	height: 25px;
  	width: 25px;
  	margin-right: 10px;
  	float: left;
  }
}

.custom-article{
	top: 15px;
	right: 90px;
	p{
		padding-bottom: 15px;
	}
}
