@import "../../../scss/myCustomTheme";

h1,h4{
	color: $primary;
}

h4{
	margin-bottom: 10px;
	font-weight: bold;
}

p{
	color: $default;
}

.nav-pharmacies{
	background:$primary; 
	padding: 10px 15px;
	border-radius: 5px; 
}


