<div class="article-container" style="width: 100%;  background: white; height: 500px;">
	<div class="container" style="max-width: 900px; padding-top: 50px;">
		<div class="row first-topic" >
			<div class="col-md-12" style="text-align:center;">
				<h1 >What's Roshetta?</h1>
				<p class="font-sized">Dummy data Dummy data Dummy data Dummy data Dummy dataDummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy dataDummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy data Dummy dataDummy data Dummy data Dummy data Dummy data Dummy data</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" style="text-align:center;">
				<h1 >Individuals</h1>
				<p class="font-sized">Dummy data Dummy data Dummy data Dummy data Dummy dataDummy data Dummy data Dummy data Dummy data</p>
				<h4>Available at</h4>
						<img style="margin-right: 10px;" width="150px;" src="assets/img/android.png">
						<img  width="150px;" src="assets/img/ios.png">
			</div>
			<div class="col-md-6" style="text-align:center;">
				<h1 >Pharmacies</h1>
				<p class="font-sized">Dummy data Dummy data Dummy data Dummy data Dummy dataDummy data Dummy data Dummy data Dummy data</p>
				<h4>If you have a pharmacy</h4>
				<button class="btn btn-primary font-sized nav-pharmacies">
					<span class="fa fa-plus"></span> Add Your Pharmacies
				</button>
			</div>
		</div>
	</div>
</div>