
	<div id="myCarousel" class="carousel slide " data-ride="carousel">
	    

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" >
	      <div class="item active carousel-items" style="background-image: url('assets/img/iphone.png')"></div>

	      <div class="item carousel-items" style="background-image: url('assets/img/iphone.png');"></div>
	    
	      <div class="item carousel-items" style="background-image: url('assets/img/iphone.png')"></div>
	    </div>

			
	</div>