<div class="container-custom">
	<div class="container">
		
		<div class="row">	
			
			<div class="col-xs-12 col-md-6 col-sm-push-6">
				<form  class="signin-wrap full-width" >
						<h4 class="whiteColor form-title uppercase" style="max-width: 450px;" translate="LOGIN"></h4>
						<div class="signin-fields">
						    <input type="text" class="form-control" [placeholder]="'USERNAME'| translate" />
						    <img src="assets/img/username_profile_icon.svg" class="right-addon">
						</div>
						<div class=" signin-fields">
						    <input type="text" class="form-control" [placeholder]="'PASSWORD'|translate"/>
						    <img src="assets/img/password_icon.svg" class="right-addon">
						</div>
						<button type="submit" class="btn btn-success signin-fields uppercase font-sized" style="height: 46px;" translate="LOGIN"></button>
				</form>	
				<p class="uppercase whiteColor center-text font-sized" style="max-width: 450px;" translate="LOGIN-VIA-SM"></p>
				
				<div class="row full-width" >
					<div class="col-md-6 col-sm-6 col-xs-6 btn-container" >	
						<button class="btn fb-instance btn-radius btn-instance"><img src="assets/img/Facebook_icon-color.svg"></button>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 btn-container" >
						<button class="btn g-instance btn-radius btn-instance" ><img src="assets/img/GooglePlus-color.svg"></button>	
					</div>
						
				</div>	
				<br>
				<div class="center-text" style="max-width: 450px;"><a href="/" class="whiteColor underline uppercase font-sized" translate="FORGET-PASSWORD"></a></div>
				</div>


			<div class="col-md-6 col-sm-pull-6 col-xs-12">
				<app-side-slider></app-side-slider>
			</div> 

		</div>
	</div>
</div>