
@import "scss/myCustomTheme";

@import "../node_modules/bootstrap/scss/bootstrap";


.header shadowed{
	box-shadow: 0 3px 2px rgba(0,0,0,0.12);
}

.primaryColor{
	color: $primary;
}

.whiteColor{
	color:$secondary;
}


.main-container{
	width:100%;
	height:100vh;
	padding: 1.5rem, 0rem;
}

.break{
	margin: 0px;
	 background: #15cb61
}



.center-text{
	text-align: center;
}

.form-title{
	text-align: center;
	margin-bottom: 1.5rem;
}

::placeholder {
	text-transform: uppercase;
	color:#caebd8;
}

.uppercase {
	text-transform: uppercase;
}

.font-sized{
	font-size:16px;
}

.pointer-cursor{
	cursor:pointer;
}

.underline{
	text-decoration:underline;
}

.signin-wrap{
	margin-top:70px;
}


.forget-pass-wrap{
	margin-top:160px;
}

.signup-wrap{
	margin:10px auto;

}

.signin-fields{
	width:100%;
	max-width:455px;
	input{
	 height:46px;
	 font-size:16px;
	 text-color:#d5d5d5;
	 padding-left:15px;
	}
}


.full-width{
	width: 100%;
}

.fb-instance{
	background:$facebook-bg;
	color:$facebook;
}

.g-instance{
	background:$google-bg;
	color:$google;
}

 
.btn-radius{
	border-radius:0.5rem;
}

.btn-instance{
width:100%;
height:55px;
max-width:210px;
}

.btn-container{
	max-width: 240px;
}

.nav-item{
	font-size:16px;
}

/* align icon */

.left-addon img  { float:left;}

.right-addon { 
position: relative;
float:right;
bottom: 35px;
right:15px;}
	

.lang-change{
	color: white;
	:hover{
		color: $primary;
	}
}
