/*Exceptions */
@media(max-width: 1366px);
/*HD */
@media(min-width: 1440px);
@media(min-width: 1600px);
@media(min-width: 1920px);
/*Small, Med Desktops ,tablets and all mobile Sizes including (phablets) */
@media (max-width: 991px) {
  .header-sidemenu > li > a {
    text-align: left;
  }
  .header-sidemenu > li > a:before {
    content: none;
  }
  .header-sidemenu > li > a > p {
    display: inline-block;
  }
  .header-sidemenu-wrap {
    width: auto;
    left: -100%;
    top: 102px;
  }
  .header-sidemenu-wrap.active {
    width: auto;
    left: 0;
    top: 102px;
  }

  .unside-menu-wrap {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .unside-menu-wrap.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .app {
    margin-top: 0;
  }
}
@media (max-width: 860px) {
  body {
    margin-top: 183px;
  }
  body.app .header-nav-left {
    margin-bottom: 0;
  }
  body.app .header-nav-right {
    text-align: center;
  }

  .medbox-list-wrap {
    right: 0;
    left: 0;
    min-width: auto;
  }
  .medbox-list-wrap:before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .header-nav .container {
    display: block;
  }
  .header-nav-left {
    float: none;
    margin-bottom: 2rem;
    text-align: center;
  }
  .header-nav-left > a > img {
    vertical-align: baseline;
  }
  .header-nav-right {
    float: none;
    text-align: center;
    margin-bottom: 1rem;
  }

  .hero {
    padding: 4rem 0;
  }
  .hero-btn {
    display: none;
  }

  .testo-slider .slider-control {
    width: 4%;
  }
}
/*Tablet (portrait) and all mobile Sizes including (phablets) */
@media (max-width: 767px) {
  body {
    margin-top: 154px;
  }

  .hero {
    height: auto;
  }

  .header-sidemenu-wrap {
    top: 165px;
  }
  .header-sidemenu-wrap.active {
    top: 165px;
  }
  .header-head {
    margin: 0;
    margin-top: 1rem;
    position: absolute;
    top: 0rem;
    left: 1rem;
  }
  .header-lang {
    margin-right: 0.5rem;
  }
  .header-nav-wrap li a.header-pharma-btn {
    background-color: #205169;
    color: white;
  }
  .header-nav-left {
    margin-bottom: 0;
  }
  .header-pharma-btn, .header-app-btn {
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: auto;
    border-radius: 0;
    text-align: center;
    border-radius: 0px;
    width: 50%;
  }
  .header-pharma-btn:active, .header-app-btn:active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .header-app-btn {
    left: 0;
  }
  .header-pharma-btn {
    right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .hero .gv-6 {
    width: 100%;
    margin-bottom: 2rem;
  }

  .main-article .container .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-article .slider {
    width: 100%;
  }
  .main-article-txt {
    width: 100%;
  }
}
@media(max-width: 600px) {
  .page-wrap {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .primary-slider {
    width: 100%;
  }
  .primary-form-wrap {
    width: 100%;
    margin-bottom: 2rem;
  }

  .order-review-left .pharma-post-text {
    width: 100%;
    float: left;
  }
}
/*Mobile Landscape to Portrait */
@media (max-width: 479px) {
  .main-content-label {
    font-size: 1.3rem;
    flex-basis: 33.33333%;
  }
  .main-article-list > li {
    width: auto;
    display: block;
  }

  .tab-item {
    font-size: 1.3rem;
  }
}
@media (max-width: 470px) {
  .medbox-list .medicine-post {
    position: relative;
  }
  .medbox-list .medicine-post-right {
    padding-right: 1.5rem;
    position: static;
  }
  .medbox-list .medicine-post-text {
    flex-basis: 100%;
  }

  .main-content-label {
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  .tab-item {
    font-size: 1.2rem;
  }

  .medicine-post {
    display: block;
  }
  .medicine-post-left {
    border-bottom: 1px solid #f0f0f0;
  }
  .medicine-post-right {
    display: block;
  }
  .medicine-post-image, .medicine-post-text {
    width: auto;
    flex-basis: 50%;
    background-size: auto;
  }
  .medicine-form {
    width: auto;
    display: flex;
  }
  .medicine-form-submit {
    width: 100%;
    text-align: center;
  }
  .medicine-form-submit-text {
    width: auto;
  }

  .pharma-post.gv-padding-tb-lg {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pharma-post-review-text {
    margin-left: 0;
  }

  .prescript-btn {
    flex-direction: column;
  }
}
/*Mobile  Portrait */
@media (max-width: 360px) {
  .main-content-label {
    font-size: 1rem;
  }

  .tab-menu {
    font-size: 1rem;
  }

  .prescript-post-image {
    float: none;
    margin: 0;
    margin-bottom: 1rem;
  }

  .pharma-post-image {
    float: none;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .pharma-post-review-text {
    margin-bottom: 0 !important;
  }
}
/*Small, Med Desktops, tablets landscape To infinite */
/*Tablet portrait to infinite */
/*Mobile landscape  to infinite */
/*Mobile portrait  to infinite */
@media (max-width: 320px) {
  .medbox-wrap .medicine-post-text {
    flex-basis: 100%;
  }
  .medbox-wrap .medicine-post-left {
    border-bottom: none;
  }
  .medbox-wrap .medicine-post-right {
    position: static;
  }
  .medbox-wrap .medicine-form {
    flex-direction: row;
    float: none;
  }
  .medbox-wrap .medicine-form-input {
    border-right-color: #f0f0f0;
    border-left-color: #f0f0f0;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .medbox-wrap .medicine-form-dec {
    border-radius: 4px 0 0px 4px;
  }
  .medbox-wrap .medicine-form-inc {
    border-radius: 0px 4px 4px 0;
  }
  .medbox-delete {
    height: auto;
    position: absolute;
    top: 1rem;
    right: 0rem;
    padding: 0;
  }
}
/*Limitaitons */
/*Med Desktop To HD */
/*Tablet (landscape) to Med Desktop */
/*Mobile Landscape To Tablet (portrait) */
/*Devices */
/*ipad - portrait */
/*ipad - landscape */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
/*Refernces:CSS-Tricks */
