@charset "UTF-8";
/*@font-face */
@font-face {
  font-family: "Roboto-Reg";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Med";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*General */
/*============ */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto-Reg", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #6b6b6b;
  font-weight: 400;
  direction: ltr;
  margin-top: 102px;
}
body.no-scroll {
  overflow: hidden;
}

/*Give All anchors/button a transition */
a,
button,
input {
  -webkit-transition: background-color 450ms, color 450ms, filter 450ms;
  transition: background-color 450ms, color 450ms, filter 450ms;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: none;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto-Med", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: #205169;
}

input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  background-color: #d5d5d5;
  cursor: not-allowed;
  top: auto;
}
input[type="submit"][disabled]:hover, input[type="submit"][disabled]:active,
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:active,
input[type="button"][disabled]:hover,
input[type="button"][disabled]:active {
  background-color: #d5d5d5;
}
input[type="submit"].active,
input[type="reset"].active,
input[type="button"].active {
  background-color: #15cb61;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
select, textarea {
  padding: 1rem 1.5rem;
  border: 0.1rem solid #f0f0f0;
  border-radius: 0.5rem;
  display: inline-block;
  background-color: white;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
select:focus, textarea:focus {
  border-color: #15cb61;
}

select, .main-content-select {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table, table tr, table td {
  border: 1px solid #f0f0f0;
}

h1 a {
  color: inherit;
  font-size: inherit;
}

h2 a {
  color: inherit;
  font-size: inherit;
}

h3 a {
  color: inherit;
  font-size: inherit;
}

h4 a {
  color: inherit;
  font-size: inherit;
}

h5 a {
  color: inherit;
  font-size: inherit;
}

h6 a {
  color: inherit;
  font-size: inherit;
}

.fa {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

label {
  font-weight: normal;
}

small {
  font-size: 1rem;
}

input, button {
  border: none;
  color: inherit;
  background-color: transparent;
}

option {
  color: #205169;
}
option[disabled] {
  color: #d2d2d2;
}

button {
  cursor: pointer;
}
button[disabled] {
  background-color: #d5d5d5;
  cursor: not-allowed;
  top: auto;
}
button[disabled]:hover, button[disabled]:active {
  background-color: #d5d5d5;
}

::-webkit-input-placeholder, [selected] {
  color: rgba(18, 166, 80, 0.6);
  text-transform: uppercase;
}

::-moz-placeholder {
  color: rgba(18, 166, 80, 0.6);
}

.post-surrond {
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 8px #f0f0f0;
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}
.post-surrond.medicine-post {
  padding: 0;
}

.unchecked {
  display: none;
}

input:checked ~ .unchecked {
  display: block;
}

.has-tabs-top {
  top: 67px;
}

.tab-item {
  letter-spacing: 1px;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
}

.unside-menu-wrap {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.unside-menu-wrap.active {
  -webkit-transform: translateX(260px);
  transform: translateX(260px);
}

input:checked ~ .medbox-list-wrap {
  display: block;
}

input:checked ~ .header-cart {
  background-color: rgba(255, 255, 255, 0.1);
}

/*Slider */
.slider {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.slider-inner {
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.slider-slide {
  flex: 1 0 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.slider-control {
  position: absolute;
  left: 0;
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #6b6b6b;
}
.slider-control:hover {
  color: #6b6b6b;
}
.slider-control .fa {
  font-size: 3rem;
  margin: 0;
}
.slider-next {
  right: 0;
  left: auto;
}
.slider-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #12a650;
  display: inline-block;
  cursor: pointer;
  margin: 0 1rem;
}
.slider-indicator-wrap {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 1rem;
  left: 0;
  z-index: 10;
  text-align: center;
}
.slider-indicator.active {
  cursor: default;
  background-color: #6b6b6b;
}

.gv-bg-second .slider-control {
  color: white;
}

.testo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1.5rem auto;
  box-shadow: 0px 0px 7px #fff;
}
.testo-txt {
  width: 80%;
  margin: auto;
  text-align: center;
}
.testo-slider .slider-slide {
  height: auto;
}
.testo-slider .slider-control {
  width: 2%;
}

.partner-slider .testo-img {
  height: auto;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
}
.partner-slider .testo-img a {
  -webkit-filter: grayscale(80);
  -moz-filter: grayscale(80);
  filter: grayscale(80);
}
.partner-slider .testo-img a:hover, .partner-slider .testo-img a:active {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.partner-slider .slider-slide {
  padding: 1rem;
}

input[type="submit"],
input[type="reset"],
input[type="button"], .gv-btn {
  background-color: #15cb61;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  -webkit-transition: background-color 250ms 0s, transform 0s 0s;
  transition: background-color 250ms 0s, transform 0s 0s;
}
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active, .gv-btn:active {
  box-shadow: none;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover, .gv-btn:hover, input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active, .gv-btn:active {
  background-color: #53ca83;
}
input.active[type="submit"],
input.active[type="reset"],
input.active[type="button"], .active.gv-btn {
  background-color: #15cb61;
  box-shadow: none;
  top: 0;
  cursor: default;
}

/*Grid */
.gv-1 {
  width: 8.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-2 {
  width: 16.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-3 {
  width: 25%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-4 {
  width: 33.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-5 {
  width: 41.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-6 {
  width: 50%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-7 {
  width: 58.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-8 {
  width: 66.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-9 {
  width: 75%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-10 {
  width: 83.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-11 {
  width: 91.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-12 {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.row {
  margin: 0 -1.5rem;
}

.clf:before, .clf:after {
  content: " ";
  display: table;
}
.clf:after {
  clear: both;
}

.header-head:before, .header-head:after, .container:before, .container:after {
  content: " ";
  display: table;
}
.header-head:after, .container:after {
  clear: both;
}

.container {
  max-width: 960px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/*Header */
.header-collapse {
  -webkit-transition: all 250ms;
  transition: all 250ms;
  overflow: hidden;
}
@media(min-width: 768px) {
  .header-collapse {
    height: auto !important;
  }
}
@media(max-width: 767px) {
  .header-collapse {
    height: 0;
    width: 100%;
  }
  .header-collapse > .gv-float-right {
    float: none;
  }
}
.header-nav-btn {
  padding: 1.5rem;
  background-color: transparent;
  box-sizing: content-box;
  border-color: blue;
  display: none;
}
.header-nav-btn img {
  vertical-align: initial;
}
.header-nav-btn.expanded:before {
  content: url("../img/x_icon_white.svg");
  display: block;
  width: 18px;
  position: relative;
  top: 3px;
}
.header-nav-btn.expanded img {
  display: none;
}
@media(max-width: 767px) {
  .header-nav-btn {
    display: block;
    margin-left: 0;
  }
}
.header-nav-btn span {
  display: block;
  margin-bottom: 0.5rem;
  border: 1px solid;
  border-color: inherit;
}
.header-nav-btn span:last-child {
  margin-bottom: 0;
}
.header-nav-btn:active {
  top: 0;
}
.header-nav-btn:hover {
  background-color: transparent;
  border-color: white;
}
.header-nav .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-nav .container > * {
  flex: 1 0 auto;
}
.header-nav-wrap li {
  list-style-type: none;
  display: inline-block;
}
@media(max-width: 767px) {
  .header-nav-wrap li {
    display: block;
  }
}
.header-nav-wrap li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem 1.5rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.header-nav-wrap li a.gv-btn {
  background-color: #f5ae34;
  -webkit-transition: background-color 250ms 0s, transform 0s 0s;
  transition: background-color 250ms 0s, transform 0s 0s;
}
.header-nav-wrap li a.gv-btn:hover, .header-nav-wrap li a.gv-btn:active {
  background-color: #53ca83;
}
.header-nav-wrap li a.header-pharma-btn {
  background-color: white;
  color: #12a650;
}
.header-nav-wrap li a.header-pharma-btn:hover, .header-nav-wrap li a.header-pharma-btn:active {
  color: white;
}
.header-nav-wrap li a:hover, .header-nav-wrap li a:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.header-nav-wrap .fa {
  font-size: 1.4rem;
  margin: 0;
  margin-left: 0.5rem;
}
.header-dropdown {
  position: relative;
}
.header-dropdown.active > .header-dropdown-menu {
  display: block;
}
.header-dropdown-hover:hover .header-dropdown-menu {
  display: block;
}
.header-dropdown-menu {
  display: none;
  padding-left: 1.5rem;
}
@media(min-width: 768px) {
  .header-head {
    display: none;
  }
}
.header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}
.header.shadowed {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.12);
}
.header.bordered {
  border-bottom: 1px solid #2fb969;
  position: static;
}
.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
  font-family: "Roboto-Black", sans-serif;
  color: white;
  display: inline-block;
}
.header h1.gv-normal, .header h2.gv-normal, .header h3.gv-normal, .header h4.gv-normal, .header h5.gv-normal, .header h6.gv-normal {
  font-family: "Roboto-Reg", sans-serif;
}
.header-btn {
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  position: relative;
}
.header-btn:hover, .header-btn:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.header-cart {
  cursor: pointer;
}
.header-cart-notification {
  font-size: 1.3rem;
  position: absolute;
  top: -0.8rem;
  right: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #e45a71;
  line-height: 2.5rem;
  text-align: center;
}
.header-slogan {
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  top: 3px;
  letter-spacing: 1px;
}
@media(max-width: 360px) {
  .header-slogan {
    font-size: 1.2rem;
  }
}
.header-sidemenu-wrap {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 102px;
  left: 0;
  background-color: #f9f9f9;
  color: #6b6b6b;
  z-index: 9999999;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  width: 86px;
}
.header-sidemenu-wrap h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.header-sidemenu-wrap .profile-pic, .header-sidemenu-wrap .profile-title {
  display: none;
}
.header-sidemenu-wrap .profile-pic {
  width: 120px;
  height: 120px;
}
.header-sidemenu-wrap.active {
  width: 260px;
}
.header-sidemenu-wrap.active .profile-pic, .header-sidemenu-wrap.active .profile-title {
  display: block;
}
.header-sidemenu-wrap.active li > a {
  text-align: left;
}
.header-sidemenu-wrap.active li > a:hover:before {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.header-sidemenu-wrap.active li > a > p {
  display: inline-block;
}
.header-sidemenu-wrap.active li > a > img {
  margin-right: 1rem;
}
.header-sidemenu > li:first-child > a {
  border-top: 1px solid rgba(21, 202, 97, 0.16);
}
.header-sidemenu > li > a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem;
  position: relative;
  border-bottom: 1px solid rgba(21, 202, 97, 0.16);
  border-right: 1px solid rgba(21, 202, 97, 0.16);
}
.header-sidemenu > li > a:hover, .header-sidemenu > li > a:active {
  background-color: white;
}
.header-sidemenu > li > a.gv-padding-rl-lg {
  padding-left: 4rem;
  padding-right: 4rem;
}
.header-sidemenu > li > a > img {
  width: 25px;
}
.header-sidemenu > li > a > * {
  text-transform: uppercase;
  font-family: "Roboto-Med";
  display: inline-block;
}
.header-sidemenu > li > a:hover:before {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.header-sidemenu > li > a > p {
  display: none;
}
.header-sidemenu > li > a:before {
  content: attr(title);
  position: absolute;
  top: 50%;
  left: 98%;
  padding: 0.6rem 2rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: left;
  transform-origin: left;
  display: none;
  overflow: hidden;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.header-sidemenu-btn.active:before {
  content: "";
}
.header-app {
  margin: 0 0.3rem;
}
.header-search-form {
  color: #ddd;
  background-color: #235839;
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
  z-index: 10000000;
  padding: 1.5rem 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.header-search-form .container {
  position: relative;
}
.header-search-form.active {
  top: 0;
}
.header-search-form input {
  width: 100%;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  padding: 0.6rem 0;
  background-color: transparent;
}
.header-search-close {
  position: absolute;
  top: -10px;
  right: 1.5rem;
  margin: 0;
}
.header-burger-btn {
  display: inline-block;
}
.header-nav-left {
  padding-top: 2px;
}
@media(max-width: 767px) {
  .header-nav-left {
    padding-top: 4px;
  }
}
@media(max-width: 767px) {
  .header-lang {
    position: absolute;
    top: 1rem;
    right: 0;
  }
}
/*Footer */
.footer {
  padding-bottom: 3rem;
}
@media(max-width: 480px) {
  .footer {
    padding-bottom: 6rem;
  }
}
.footer-chat-wrap {
  position: fixed;
  bottom: 0;
  right: 1rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  z-index: 555555;
}
.footer-chat-btn {
  border-radius: 4px 4px 0 0;
  background-color: #f5ae34;
}
.footer-chat-btn.active .fa:before {
  content: "";
}
.footer-copy .fa {
  font-size: 3rem;
}

/*Custom */
.main-article-img {
  text-align: right;
}
.main-article:nth-of-type(even) .main-article-txt {
  float: right;
}
.main-article:nth-of-type(even) .main-article-img {
  text-align: left;
}
.main-article-list li {
  display: inline-block;
  width: 49%;
  margin-bottom: 1.5rem;
}
.main-article-list li img {
  width: 25px;
  margin-right: 1rem;
}
.main-article-txt {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  padding-top: 1rem;
}
.main-article-txt-inner {
  flex: 1 0 100%;
}
.main-article-txt-title {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
}
.main-content-label {
  flex: 1 0;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #12a650;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  position: relative;
}
.main-content-label:focus, .main-content-label:active, .main-content-label:hover, .main-content-label.active {
  background-color: #11994a;
  box-shadow: inset -2px 1px 6px rgba(109, 109, 109, 0.34);
}
.main-content-label:focus:before, .main-content-label:active:before, .main-content-label:hover:before, .main-content-label.active:before {
  height: 5px;
}
.main-content-label:before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #15cb61;
  height: 0px;
  right: 0;
  left: 0;
}
.main-content-label-wrap {
  background-color: #12a650;
}
.main-content-label-wrap .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  padding: 0;
  padding: 0;
}
.main-content-inner {
  padding: 1.5rem 0;
}
.main-content-select {
  width: 100%;
  color: #6b6b6b;
  font-weight: 700;
  padding: 1.5rem;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #205169;
}
.main-content-select-wrap {
  position: relative;
}
.main-content-select-wrap:before {
  position: absolute;
  content: url("../img/dropdown menu.svg");
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}

.medicine-post {
  display: flex;
  flex-wrap: wrap;
}
.medicine-post-image {
  background-size: 70%;
  min-height: 149px;
  width: 100px;
}
.medicine-post-text {
  padding: 1.5rem 0 1.5rem 1.5rem;
  border-left: 1px solid #f0f0f0;
}
.medicine-post-left, .medicine-post-right {
  display: flex;
}
.medicine-post-right {
  padding: 1.5rem;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}
.medicine-post-aside {
  border-top: 1px solid #f0f0f0;
}
.medicine-form {
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  width: 135px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.medicine-form > * {
  flex: 1 0;
}
.medicine-form .fa {
  margin: 0;
  font-size: 1.5rem;
}
.medicine-form-input[type="text"], .medicine-form-input[type="number"] {
  width: 50px;
  padding: 0.6rem;
  border-top-color: transparent;
  border-bottom-color: transparent;
  text-align: center;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-radius: 0;
  color: #205169;
}
.medicine-form-btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0px 4px 4px 0px;
}
.medicine-form-btn:active {
  background-color: #12a650;
  color: white;
}
.medicine-form-dec {
  border-radius: 4px 0 0 4px;
}
.medicine-form-submit {
  margin-left: auto;
  margin-top: 1rem;
  min-width: 135px;
  min-height: 50px;
  text-align: left;
  padding: 0.6rem 1.5rem;
  letter-spacing: 0;
}
.medicine-form-submit.active {
  text-align: center;
}
.medicine-form-submit.active .medicine-form-submit-text, .medicine-form-submit.active .medicine-form-submit-icon {
  display: none;
}
.medicine-form-submit.active .medicine-form-submit-checked {
  display: inline-block;
}
.medicine-form-submit > * {
  display: inline-block;
}
.medicine-form-submit-text {
  width: 55px;
  vertical-align: middle;
  line-height: 1.2;
}
.medicine-form-submit-icon {
  vertical-align: middle;
  margin-right: 1rem;
}
.medicine-form-submit-checked {
  width: 24px;
  display: none;
}

.pharma-post-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #2c80ff;
  float: left;
  margin-right: 3rem;
}
.pharma-post-review {
  position: relative;
  width: 70px;
  height: 18px;
  display: inline-block;
}
.pharma-post-review-text {
  margin-left: 1rem;
  display: inline-block;
}
.pharma-post-review-inside {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}
.pharma-post-review-inside > img {
  margin-right: 1px;
}
.pharma-post-review-top {
  z-index: 5;
}
.pharma-post-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.pharma-post-list > li {
  flex: 0 1 auto;
  padding: 0.8rem;
  padding-left: 0;
  padding-right: 2rem;
}
.pharma-post-list > li img {
  vertical-align: initial;
}
.pharma-post-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem;
  cursor: pointer;
}
.pharma-post-oval {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background-color: #d5d5d5;
}
.pharma-post-dropdown {
  position: absolute;
  top: 5rem;
  right: 2rem;
  min-width: 160px;
  background-color: #d5d5d5;
  border-radius: 4px;
  z-index: 55555;
}
.pharma-post-dropdown > li {
  list-style: none;
}
.pharma-post-dropdown > li > a {
  display: block;
  padding: 0.6rem 1.5rem;
  color: #205169;
}
.pharma-post-dropdown > li > a:hover, .pharma-post-dropdown > li > a:active {
  background-color: #12a650;
  color: white;
}

.primary-slider .slider-control {
  display: none;
}
.primary-slider-fading {
  position: relative;
}
.primary-slider-fading-inner {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  opacity: 0;
}
.primary-slider-fading-inner:first-child {
  position: static;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.primary-slider-fading-inner.active {
  opacity: 1;
}
.primary-form-title {
  color: white;
}
.primary-form-control {
  width: 100%;
}
.primary-form-label {
  display: block;
  margin-bottom: 1rem;
  position: relative;
}
.primary-form-icon {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 25px;
  -webkit-transition: box-shadow, 0;
  transition: box-shadow, 0;
}
.primary-form-btn:hover, .primary-form-btn:focus, .primary-form-btn:active {
  background-color: #53ca83;
}
.primary-form-btn:active {
  box-shadow: none;
}
.primary-form-list {
  margin: 1.5rem -15px;
}
.primary-form-list > li {
  flex-basis: 48%;
  padding: 0 15px;
}
.primary-form-fb > a {
  background-color: #4460a0;
}
.primary-form-g > a {
  background-color: #fff;
}

.prescript-btn {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  cursor: pointer;
  height: calc(100vh - 64px);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.prescript-btn:hover, .prescript-btn:active {
  background-color: white;
  color: #12a650;
}
.prescript-btn:last-child {
  border-left: none;
}
.prescript-btn > .fa {
  font-size: 5.5rem;
  color: #12a650;
}
.prescript-btn > p {
  font-size: 2rem;
  vertical-align: middle;
  margin-left: 1rem;
}
.prescript-post-image {
  width: 180px;
  height: 180px;
  background-color: black;
  margin: -15px 0 -15px -15px;
  float: left;
  margin-right: 1.5rem;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #12a650;
  position: relative;
}
.profile-pic-btn {
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #12a650;
  line-height: 32px;
  position: absolute;
  top: 11px;
  right: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.order-confirm-overlay {
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.order-confirm-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 80%;
  max-width: 768px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.order-confirm-close {
  font-size: 3.4rem;
  line-height: 0;
}
.order-confirm-wait {
  margin: 0 -21px -21px;
  font-weight: 100;
  letter-spacing: 1px;
}

.medbox-list-outer {
  overflow: auto;
  height: 300px;
}
.medbox-list-wrap {
  position: absolute;
  background-color: white;
  top: 100%;
  border-radius: 4px;
  z-index: 55555;
  right: 15%;
  min-width: 500px;
  display: none;
}
.medbox-list-wrap:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 5rem;
  border: 10px solid transparent;
  border-bottom-color: white;
}
.medbox-list h4 {
  color: #205169;
}
.medbox-list * {
  color: #6b6b6b;
}
.medbox-list > li {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 1rem;
}
.medbox-list .medicine-post-text {
  border: none;
  text-align: left;
}
.medbox-list .medicine-post-right {
  display: block;
  padding-right: 50px;
  position: relative;
}
.medbox-list .medbox-delete {
  position: absolute;
  top: 1rem;
  height: auto;
  display: block;
  right: 0;
}
.medbox-wrap {
  background-color: white;
  padding: 2rem 2rem 0;
  border-radius: 4px 4px 0 0;
  position: relative;
}
.medbox-wrap:before {
  content: "";
  position: absolute;
  top: -33px;
  right: 18px;
  border: 17px solid transparent;
  border-bottom-color: white;
  border-left-width: 10px;
  border-right-width: 4px;
}
.medbox-wrap .post-surrond {
  box-shadow: none;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #f0f0f0;
}
.medbox-wrap .medicine-post-right {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.medbox-wrap .medicine-post-text {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.medbox-wrap .medicine-form {
  flex-direction: column-reverse;
  float: left;
  width: auto;
}
.medbox-wrap .medicine-form-input {
  border-top-color: #f0f0f0;
  border-bottom-color: #f0f0f0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.medbox-wrap .medicine-form-dec {
  border-radius: 0 0 4px 4px;
}
.medbox-wrap .medicine-form-inc {
  border-radius: 4px 4px 0 0;
}
.medbox-header {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 1.5rem;
}
.medbox-header-left {
  float: left;
}
.medbox-header-left > img {
  width: 40px;
}
.medbox-header-right {
  float: right;
}
.medbox-header-right > * {
  line-height: normal;
}
.medbox-header-title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.medbox-outer {
  height: 60vh;
  overflow: auto;
}
.medbox-submit {
  position: absolute;
  bottom: -53px;
  left: 0;
  right: 0;
  border-radius: 0 0 4px 4px;
}
.medbox-delete {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  height: 112px;
}
.medbox-delete > img {
  width: 20px;
}

.order-review-left {
  flex-shrink: 1 !important;
}
.order-review-left-wrap {
  height: 152px;
}
.order-review-wrap.selected .order-review-left-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.order-review-wrap.selected .order-review-left-wrap.gv-flex {
  display: block;
  height: auto;
}
.order-review-left-right {
  position: relative;
}
.order-review-left-right:before {
  content: " ";
  position: absolute;
  height: 100%;
  border-right: 1px solid #f0f0f0;
  top: 0;
  right: 50%;
  display: block;
}
.order-review-quan {
  border-bottom: 1px solid #f0f0f0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.order-review-btn {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 1.5rem;
}
.order-review-btn > img {
  width: 35px;
}
.order-review-pay-left {
  float: left;
}
.order-review-pay-right {
  float: right;
}
.order-review-method {
  border-radius: 4px;
  padding: 1.5rem;
  border: 2px solid #f0f0f0;
}
.order-review-method-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #d2d2d2;
  cursor: pointer;
}
.order-review-method-circle.checked:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #12a650;
  display: none;
}
.order-review-method-checkbox {
  display: none;
}
.order-review-method-checkbox:checked ~ .order-review-method-circle:before {
  display: block;
}
.order-review-cash {
  vertical-align: baseline;
  position: relative;
  top: 2px;
  line-height: normal;
}

.login-form, .login-form-list {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 550px) {
  .login-form, .login-form-list {
    max-width: 100%;
  }
}
.map {
  margin-top: 83px;
  padding: 0;
  border-radius: 4px;
  height: 309px;
}
.map-btn-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro {
  padding: 0 !important;
}

.hero {
  position: relative;
  z-index: 55555;
  padding: 4rem 0 6.6rem;
  display: flex;
  align-items: center;
  text-shadow: 0 0 0 #626763;
  background-size: cover;
}
.hero h1, .hero h4 {
  font-family: "Roboto-Med";
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}
.hero-btn {
  position: absolute;
  bottom: 3.5rem;
  left: 0;
  right: 0;
  -webkit-animation: moveToggle 1s infinite;
  animation: moveToggle 1s infinite;
}
.hero-btn .fa {
  font-size: 3.5rem;
}

.panel-content {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.panel-title {
  padding: 0.5rem 2rem;
  background-color: #205169;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  width: auto;
  margin: auto;
}
.panel-title:before {
  content: "";
  font-family: "FontAwesome";
  float: right;
}
.panel.active .panel-title {
  background-color: #15cb61;
}
.panel.active .panel-title:before {
  content: "";
}

.app {
  margin-top: 0;
}
.app .header {
  padding-bottom: 0;
  position: static;
}
.app .header.shadowed {
  box-shadow: 0 3px 2px transparent;
}
.app .header-nav {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 555;
  padding-bottom: 1rem;
}
.app .header-nav-right {
  text-align: right;
}
.app .header-btn {
  margin-right: 0;
}
.app .header-head {
  display: block;
  margin-right: 0;
  margin-top: 1rem;
}

/* @keyframes & transitions */
@keyframes moveToggle {
  to {
    bottom: 2rem;
  }
}
/*Regular give.css */
.gv-btn-block {
  width: 100%;
}
.gv-btn .fa {
  margin-left: 0;
  margin-right: 0.5rem;
}
.gv-pharma-btn {
  background-color: white;
  color: #12a650;
}
.gv-pharma-btn:hover, .gv-pharma-btn:active {
  color: white;
}
.gv-main-face {
  font-family: "Roboto-Reg", sans-serif;
}
.gv-heading-face {
  font-family: "Roboto-Med", sans-serif;
}
.gv-bold {
  font-family: "Roboto-Bold", sans-serif;
}
.gv-bolder {
  font-weight: bolder;
}
.gv-normal {
  font-family: "Roboto-Reg", sans-serif;
}
.gv-italic {
  font-style: italic;
}
.gv-black {
  font-family: "Roboto-Black", sans-serif;
}
.gv-med {
  font-family: "Roboto-Med";
}
.gv-underline {
  text-decoration: underline;
}
.gv-uppercase {
  text-transform: uppercase;
}
.gv-lowercase {
  text-transform: lowercase;
}
.gv-capitalize {
  text-transform: capitalize;
}
.gv-align-left {
  text-align: left;
}
.gv-align-right {
  text-align: right;
}
.gv-align-center {
  text-align: center;
}
.gv-margin {
  margin: 1.5rem;
}
.gv-margin-lg {
  margin: 4rem;
}
.gv-margin-md {
  margin: 1.5rem;
}
.gv-margin-sm {
  margin: 1rem;
}
.gv-margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.gv-margin-auto-right {
  margin-right: auto;
}
.gv-margin-auto-left {
  margin-left: auto;
}
.gv-margin-auto-tb {
  margin-top: auto;
  margin-bottom: auto;
}
.gv-margin-auto-rl {
  margin-right: auto;
  margin-left: auto;
}
.gv-margin-tb {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.gv-margin-tb-lg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.gv-margin-tb-md {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.gv-margin-tb-sm {
  margin-top: 1rem;
  margin-top: 1rem;
}
.gv-margin-rl {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.gv-margin-rl-lg {
  margin-right: 4rem;
  margin-left: 4rem;
}
.gv-margin-rl-md {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.gv-margin-rl-sm {
  margin-right: 1rem;
  margin-left: 1rem;
}
.gv-margin-top {
  margin-top: 1.5rem;
}
.gv-margin-top-lg {
  margin-top: 4rem;
}
.gv-margin-top-md {
  margin-top: 1.5rem;
}
.gv-margin-top-sm {
  margin-top: 1rem;
}
.gv-margin-right {
  margin-right: 1.5rem;
}
.gv-margin-right-lg {
  margin-right: 4rem;
}
.gv-margin-right-md {
  margin-right: 1.5rem;
}
.gv-margin-right-sm {
  margin-right: 1rem;
}
.gv-margin-bottom {
  margin-bottom: 1.5rem;
}
.gv-margin-bottom-lg {
  margin-bottom: 4rem;
}
.gv-margin-bottom-md {
  margin-bottom: 1.5rem;
}
.gv-margin-bottom-sm {
  margin-bottom: 1rem;
}
.gv-margin-left {
  margin-left: 1.5rem;
}
.gv-margin-left-lg {
  margin-left: 4rem;
}
.gv-margin-left-md {
  margin-left: 1.5rem;
}
.gv-margin-left-sm {
  margin-left: 1rem;
}
.gv-padding {
  padding: 1.5rem;
}
.gv-padding-lg {
  padding: 4rem;
}
.gv-padding-md {
  padding: 1.5rem;
}
.gv-padding-sm {
  padding: 1rem;
}
.gv-padding-tb {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.gv-padding-tb-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.gv-padding-tb-md {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.gv-padding-tb-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.gv-padding-rl {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.gv-padding-rl-lg {
  padding-right: 4rem;
  padding-left: 4rem;
}
.gv-padding-rl-md {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.gv-padding-rl-sm {
  padding-right: 1rem;
  padding-left: 1rem;
}
.gv-padding-top {
  padding-top: 1.5rem;
}
.gv-padding-top-lg {
  padding-top: 4rem;
}
.gv-padding-top-md {
  padding-top: 1.5rem;
}
.gv-padding-top-sm {
  padding-top: 1rem;
}
.gv-padding-right {
  padding-right: 1.5rem;
}
.gv-padding-right-lg {
  padding-right: 4rem;
}
.gv-padding-right-md {
  padding-right: 1.5rem;
}
.gv-padding-right-sm {
  padding-right: 1rem;
}
.gv-padding-bottom {
  padding-bottom: 1.5rem;
}
.gv-padding-bottom-lg {
  padding-bottom: 4rem;
}
.gv-padding-bottom-md {
  padding-bottom: 1.5rem;
}
.gv-padding-bottom-sm {
  padding-bottom: 1rem;
}
.gv-padding-left {
  padding-left: 1.5rem;
}
.gv-padding-left-lg {
  padding-left: 4rem;
}
.gv-padding-left-md {
  padding-left: 1.5rem;
}
.gv-padding-left-sm {
  padding-left: 1rem;
}
.gv-border {
  border: 0.2rem solid #f0f0f0;
}
.gv-border-lg {
  border: 0.4rem solid #f0f0f0;
}
.gv-border-md {
  border: 0.3rem solid #f0f0f0;
}
.gv-border-sm {
  border: 0.1rem solid #f0f0f0;
}
.gv-border-top {
  border-top: 0.2rem solid #f0f0f0;
}
.gv-border-top-lg {
  border-top: 0.4rem solid #f0f0f0;
}
.gv-border-top-md {
  border-top: 0.3rem solid #f0f0f0;
}
.gv-border-top-sm {
  border-top: 0.1rem solid #f0f0f0;
}
.gv-border-right {
  border-right: 0.2rem solid #f0f0f0;
}
.gv-border-right-lg {
  border-right: 0.4rem solid #f0f0f0;
}
.gv-border-right-md {
  border-right: 0.3rem solid #f0f0f0;
}
.gv-border-right-sm {
  border-right: 0.1rem solid #f0f0f0;
}
.gv-border-bottom {
  border-bottom: 0.2rem solid #f0f0f0;
}
.gv-border-bottom-lg {
  border-bottom: 0.4rem solid #f0f0f0;
}
.gv-border-bottom-md {
  border-bottom: 0.3rem solid #f0f0f0;
}
.gv-border-bottom-sm {
  border-bottom: 0.1rem solid #f0f0f0;
}
.gv-border-left {
  border-bottom: 0.2rem solid #f0f0f0;
}
.gv-border-left-lg {
  border-left: 0.4rem solid #f0f0f0;
}
.gv-border-left-md {
  border-left: 0.3rem solid #f0f0f0;
}
.gv-border-left-sm {
  border-left: 0.1rem solid #f0f0f0;
}
.gv-radius {
  border-radius: 0.5rem;
}
.gv-radius-lg {
  border-radius: 2rem;
}
.gv-radius-md {
  border-radius: 1.5rem;
}
.gv-radius-sm {
  border-radius: 0.2rem;
}
.gv-circle {
  border-radius: 50%;
}
.gv-float-left {
  float: left;
}
.gv-float-right {
  float: right;
}
.gv-clear {
  clear: both;
}
.gv-color-white {
  color: white;
}
.gv-color-main {
  color: #6b6b6b;
}
.gv-color-second {
  color: #12a650;
}
.gv-color-third {
  color: #11994a;
}
.gv-color-heading {
  color: #205169;
}
.gv-color-btn {
  color: #15cb61;
}
.gv-color-btnD {
  color: #d5d5d5;
}
.gv-color-content {
  color: #f7f7f7;
}
.gv-bg-main {
  background-color: #6b6b6b;
}
.gv-bg-second {
  background-color: #12a650;
}
.gv-bg-third {
  background-color: #11994a;
}
.gv-bg-heading {
  background-color: #205169;
}
.gv-bg-btn {
  background-color: #15cb61;
}
.gv-bg-btnD {
  background-color: #d5d5d5;
}
.gv-bg-content {
  background-color: #f7f7f7;
}
.gv-bg-center {
  background-position: center center;
}
.gv-bg-center-top {
  background-position: center top;
}
.gv-bg-center-bottom {
  background-position: center bottom;
}
.gv-bg-left {
  background-position: left center;
}
.gv-bg-left-top {
  background-position: left top;
}
.gv-bg-left-bottom {
  background-position: left bottom;
}
.gv-bg-right {
  background-position: right center;
}
.gv-bg-right-top {
  background-position: right top;
}
.gv-bg-right-bottom {
  background-position: right bottom;
}
.gv-bg-thumb {
  background-repeat: no-repeat;
  background-position: center center;
}
.gv-bg-no-repeat {
  background-repeat: no-repeat;
}
.gv-bg-contain {
  background-size: contain;
}
.gv-bg-cover {
  background-size: cover;
}
.gv-block {
  display: block;
}
.gv-inline {
  display: inline;
}
.gv-inline-block {
  display: inline-block;
}
.gv-list-item {
  display: list-item;
}
.gv-decimal {
  list-style: decimal;
}
.gv-rtl {
  direction: rtl;
}
.gv-ltr {
  direction: ltr;
}
.gv-no-padding {
  padding: 0;
}
.gv-no-padding-top {
  padding-top: 0;
}
.gv-no-padding-right {
  padding-right: 0;
}
.gv-no-padding-bottom {
  padding-bottom: 0;
}
.gv-no-padding-left {
  padding-left: 0;
}
.gv-no-padding-tb {
  padding-top: 0;
  padding-bottom: 0;
}
.gv-no-padding-rl {
  padding-right: 0;
  padding-left: 0;
}
.gv-no-bullet {
  list-style: none;
}
.gv-no-display {
  display: none;
}
.gv-no-margin {
  margin: 0;
}
.gv-no-margin-top {
  margin-top: 0;
}
.gv-no-margin-right {
  margin-right: 0;
}
.gv-no-margin-bottom {
  margin-bottom: 0;
}
.gv-no-margin-left {
  margin-left: 0;
}
.gv-no-margin-tb {
  margin-top: 0;
  margin-bottom: 0;
}
.gv-no-margin-rl {
  margin-right: 0;
  margin-left: 0;
}
.gv-no-float {
  float: none;
}
.gv-no-underline {
  text-decoration: none;
}
.gv-no-radius {
  border-radius: 0;
}
.gv-no-shadow {
  box-shadow: none;
}
.gv-no-btn {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
.gv-no-btn:hover, .gv-no-btn:active {
  background-color: transparent;
  color: inherit;
  top: 0;
}
.gv-transition {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.gv-relative {
  position: relative;
}
.gv-absolute {
  position: absolute;
}
.gv-fixed {
  position: fixed;
}
.gv-position-default {
  top: 0;
  left: 0;
}
.gv-ovflow-visible {
  overflow: visible;
}
.gv-ovflow-hidden {
  overflow: hidden;
}
.gv-ovflow-auto {
  overflow: auto;
}
.gv-ovflow-scroll {
  overflow: scroll;
}
.gv-shadow-box {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
}
.gv-shadow-text {
  text-shadow: 0px 2px 2px #f0f0f0;
}
.gv-flex {
  display: flex;
}
.gv-flex-grow > * {
  flex-grow: 1;
  flex-shrink: 0;
}
.gv-flex-row-reverse {
  flex-direction: row-reverse;
}
.gv-flex-column {
  flex-direction: column;
}
.gv-flex-column-reverse {
  flex-direction: column-reverse;
}
.gv-flex-wrap {
  flex-wrap: wrap;
}
.gv-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.gv-flex-center {
  align-items: center;
  justify-content: center;
}
.gv-flex-center-h {
  justify-content: center;
}
.gv-flex-center-v {
  align-items: center;
}
.gv-flex-end {
  align-items: flex-end;
  justify-content: flex-end;
}
.gv-flex-end-h {
  justify-content: flex-end;
}
.gv-flex-end-v {
  align-items: flex-end;
}
.gv-flex-stretch {
  align-items: stretch;
}
.gv-flex-stretch-content {
  align-content: stretch;
}
.gv-flex-sp-between-h {
  justify-content: space-between;
}
.gv-flex-sp-between-v {
  align-content: space-between;
}
.gv-flex-sp-around-h {
  justify-content: space-around;
}
.gv-flex-sp-around-v {
  align-content: space-around;
}
@media(min-width: 1200px) {
  .gv-h-100vh {
    height: calc(100vh - 104px);
  }
}
