<app-article></app-article>

<div class="row row-customed">
	<div class="col-md-12 col-sm-12">
		<div class="moving-arrow"><a href="#how-to" class="fa fa-chevron-down"></a></div>	
	</div>
</div>

<app-how-to id="how-to"></app-how-to>

<app-how-to-pharmacies></app-how-to-pharmacies>

<app-testominals></app-testominals>

<app-partners></app-partners>

<app-contact-us></app-contact-us>

<button class="btn footer-btn">Live chat <i class="fa fa-chevron-down"></i></button>