@import "../../scss/myCustomTheme";

@keyframes moveToggle{
	100%{
		bottom: 2rem;
	}
}


.row-customed{
	width: 100%;
	.moving-arrow{
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 3.5rem;
		animation: moveToggle 1s infinite;
	    animation-name: moveToggle;
	    animation-duration: 1s;
	    animation-timing-function: initial;
	    animation-delay: initial;
	    animation-iteration-count: infinite;
	    animation-direction: initial;
	    animation-fill-mode: initial;
	    animation-play-state: initial
	}	
}

.fa-chevron-down{
	font-size: 35px; 
	color: $default;
	text-decoration: none;
}

.footer-btn{
	position: fixed;
	bottom: 0;
	right: 10px;
	border-radius: 4px;
	background: #f5ae34;
	font-size: 16px;
	color: white;
	padding: 10px 23px;
	i{	
		color: white;
		font-size: 16px;
		height: 16px;
		width: 15px;

	}
}
.footer-btn:hover{
		background: $success;
	}