<div class="container-custom">
	<div class="container">
		<div class="row">	
			<div class="col-xs-12 col-md-6 col-sm-push-6">
				<form  class="forget-pass-wrap full-width" >
						<h4 class="whiteColor form-title uppercase" style="max-width: 450px;" translate="FORGET-PASSWORD"></h4>
						<div class="signin-fields">
						    <input type="text" class="form-control" [placeholder]="'EMAIL-ADDRESS' | translate" />
						    <img src="assets/img/mail_icon.svg" class="right-addon">
						</div>
						<button type="submit" class="btn btn-success signin-fields uppercase font-sized" style="height: 46px;" translate="RECOVER-PASSWORD"></button>
				</form>	
			</div>
			<div class="col-md-6 col-sm-pull-6 col-xs-12">
				<app-side-slider></app-side-slider>
			</div> 
		</div>
	</div>
</div>