@import "../../../scss/myCustomTheme";

$dominant: white;
$undominant: $primary;
$word-colors:$default;

.container{
	text-align: center;
}

.article-container{
	color: $undominant;
	background: $dominant;
	width: 100%;  
	height: 390px;
	text-align: center;

}

h1{
	font-size: 34px;
	margin-bottom: 15px;
}


p{
	color: $word-colors;
	font-size: 16px;
}

.testo-img{
	height: auto;
	width: 100%;
	margin: 15px auto;
	background-repeat:  no-repeat; 
	background-size: contain; 
	background-position: center ;
	filter:grayscale(80%);
}

.testo-img:hover{
	filter:grayscale(0);
}

.carousel-items{
	max-width: 910px;
	margin: 0 auto;
}

#partnersCarousel{
	max-width: 930px;
	margin: 0 auto;
}

.navigation-arrow{
	color: $word-colors;
	font-size: 26px;
	position: absolute;
	height: 100%;
	z-index: 1;
}

.right{
	right: 0;
}
.left{
	left: 0;
}

span.fa{
	position: absolute;
	top: 48%;
	vertical-align:middle;
}

.col-md-3{
	padding: 0 15px;
}
