<div class="article-container" >
	<div class="container" style=" padding-top: 40px;">
		<h1>Our Partners</h1>
		<div id="partnersCarousel" class="carousel slide " data-ride="carousel">

			
			 <!-- Left and right controls -->
		    <a class="left navigation-arrow" href="#partnersCarousel" data-slide="prev">
		      <span class="fa fa-chevron-left"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right navigation-arrow" href="#partnersCarousel" data-slide="next">
		      <span class="fa fa-chevron-right"></span>
		      <span class="sr-only">Next</span>
		    </a>
		    
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner">
			      <div class="item active carousel-items" >
			      	<div class="row">
			      		<div class="col-md-3">
					      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
			      		</div>
			       		<div class="col-md-3">
					      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
			      		</div>
			      		<div class="col-md-3">
					      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
			      		</div>
			       		<div class="col-md-3">
					      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
			      		</div>
			      	</div>
			      </div>
		      	
		      	<div class="item carousel-items" >
		      	<div class="row">
		      		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		       		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		      		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		       		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		      	</div>
		      </div>

		      <div class="item carousel-items" >
		      	<div class="row">
		      		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		       		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		      		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		       		<div class="col-md-3">
				      	<a href=""><img class="testo-img" src="assets/img/pharma1.png"></a>
		      		</div>
		      	</div>
		      </div>

		    </div>
			
		</div>
	</div>
</div>